# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Optional
.env
.env.local
.env.*.local

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
logs/
*.log

temp

src/scripts/motion_legacy_data/